body {
    background-color: rgb(209, 221, 167);
    font: 16px;
}

/*logo*/
.container{
    text-align:left
}

img {
  max-width: 1000px;
  height: 1000px;; 
}

/*subtitulo*/
h2 {
    font-style: italic;
    font-weight: bold;
    font-family: cursive;
    color: rgb(105, 57, 12);
}

/*boton buscar*/
.boton {
    box-shadow: 4px 4px 4px rgb(36, 36, 35);
    font-family: cursive;
    color: rgb(105, 57, 12);
    float: right;
    border-color: rgb(105, 57, 12);
    padding: 10px;
}

/*menu*/
.menu :hover {
    text-align: left;
    font-family: cursive;
    color: rgb(105, 57, 12);
    background-color: beige;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

a {
    color: rgb(105, 57, 12);
    font-family: cursive;
    text-decoration: none;
}

/*introduccion*/
.introduccion {
    text-align: justify;
    font-family: cursive;
    color: rgb(105, 57, 12);
    line-height: 1.7;
}

/*productos*/
img {
    width: 200px;
    height: 200px;
}

.tarjetas {
    font-family: cursive;
    color: rgb(105, 57, 12);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    font-size: small;
}

.card {
    font-family: cursive;
    color: rgb(105, 57, 12);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    font-size: small
}

.card-title {
    margin-top: auto;
}

.card-text {
    text-align: start
}

/*formulario*/
.box {
    box-shadow: 4px 4px 4px rgb(36, 36, 35);
    font-family: cursive;
    color: rgb(105, 57, 12);
}

/*footer*/
footer :hover{
    text-align: left;
    font-family: cursive;
    color: rgb(105, 57, 12);
    background-color: beige;
}

/*responsive*/
body {
    font-size: 16px;
    /* Tamaño de fuente para pantallas grandes */
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
        /* Tamaño de fuente para tablets */

    }
}

.form-input {
    font-size: 14px;
    /* Tamaño de fuente para celulares */

}


